@model IEnumerable<AplñicacionSencilla.FrontEnd.Models.UsuariosModel>


@{
    ViewBag.Title = "Login";
}

<h2>AplicacionSencilla</h2>

<p>
    @Html.ActionLink("Crear Nuevo Registro", "CrearUsuarios")

</p>
